<!DOCTYPE html>
<html ng-app="surveyBot">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Survey</title>
    <script src="lib/underscore.js"></script>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/ResultsController.js"></script>
    <script src="controllers/AnswersController.js"></script>
    <script src="services/SurveyFactory.js"></script>
    <meta content="width=device-width" name="viewport">

    <link href="css/main.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">

        <header>

            <h1 class="site__title">Take a Survey </h1>

        </header>

        <section class="main group" >

            <article class="main__article" ng-controller="AnswersCtrl">

                <!-- <div ng-show="students.length"> -->

                    <h2 class="main__title">Take this Survey</h2>


                    <!-- form    -->
                    <form ng-submit="SurveyFactory.addAnswer()">
                        <p>Star Wars or Star Trek?</p>

                        <input name="star" type="radio" ng-model="SurveyFactory.star" value="star_wars" /> Wars <br>
                        <input name="star" type="radio" ng-model="SurveyFactory.star" value="star_trek" /> Trek


                        <p>Ice Cream or Cake?</p>

                        <input name="sweet" type="radio" ng-model="SurveyFactory.sweet" value="ice_cream" />Ice Cream <br>
                        <input name="sweet" type="radio" ng-model="SurveyFactory.sweet" value="cake" />Cake

                        <br><button type="submit">Submit</button>
                    </form>
                    <!-- hide: thank you   -->

            </article>

            <aside class="" ng-controller="ResultsCtrl">
                <!-- show: results --><p ng-click="countResults();">survey says</p>
                <div ng-show="answers.length > 0;">
                    <h2>Results:</h2>

                        <div ng-repeat="(key,data) in starAnswers">
                            {{key}}: {{data}}
                        </div>
                        <div ng-repeat="(key,data) in sweetAnswers">
                            {{key}}: {{data}}
                        </div>

                </div>


            </aside>
        </section>


    </div><!-- end of wrapper -->

    <footer class="site__footer">
        <div class="footer__content">

            <p>Copyright 2015 - fork me on
                <a href="#">Github</a>
            </p>

        </div>
    </footer>

    <!-- <script src="js/jquery.min.js"></script> -->
    <!-- // <script src="js/main.js"></script>
        // <script type="text/javascript"></script> -->
</body>

</html>
